body {
  display: grid;
  grid-auto-flow: row;
  gap: 4px;
  /* align-items: center; */
  justify-items: center;
  background-color: moccasin;

}

h1 {
  align-items: center;
  font-size: 300%;
  color: rgb(209, 98, 18);

}

#intro {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


p {
  font-family: fantasy;

}

footer {
  background-color: rgb(253, 214, 39);
  justify-content: center;
  justify-items: center;
  height: 50px;
  width: 800px;
}